* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: #af2ef1;
}
$white: #fff;
$black: #000;
$color-info-dark: #0a77d1;
$color-info: #1aa5e1;
$color-primary: #ff9800;
$color-primary-dark: #362ab6;
$color-warning-light: #ffb02b;
$color-warning: #dd5e38;
$color-danger-dark: #dc3737;
$color-danger: #f44336;
$color-success: #3bb89f;
$color-success-dark: #269982;
$text-gray: #888883;

$menu-bg-color: rgba(#ff9800, 0.05);
$header-height: 70px;
$weight-sm: 250;
$weight-md: 400;
$weight-l: 600;
$weight-xl: bold;

.title-des {
  padding-bottom: 4px;
  color: $white;
}
.login-box .text-muted {
  color: #919ea9 !important;
}
.wtext-sm {
  font-weight: $weight-sm;
}
.wtext-md {
  font-weight: $weight-md;
}
.wtext-l {
  font-weight: $weight-l;
}
.wtext-xl {
  font-weight: $weight-xl;
}
.w-100 {
  width: 100%;
}
.shadow {
  box-shadow: 0 16px 32px 0 rgba($color-primary, 0.4);
  transition: all 0.5s;
}
.shadow:hover {
  box-shadow: 0 8px 4px 0 rgba($color-primary, 0.3);
  transition: all 0.5s;
}

.header .logo {
  height: $header-height;
}
.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  user-select: none;
  overflow: hidden;
}
.logo > img {
  display: inline-block;
  padding-top: 5px;
  width: 40px;
}
.logo > span {
  font-family: Algerian, serif;
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
  line-height: 40px;
  color: $white;
}
.header.el-header,
.header-h.el-header {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
}
.header-h.el-header {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1px 4px 0px rgba($text-gray, 0.05);
}
.header.el-header .header-icon {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  color: var(--el-text-color-regular);
}
.header.el-header .el-dropdown-link > .text-container {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  font-weight: 600;
}
.header.el-header .el-dropdown-link,
.header-h.el-header .el-dropdown-link {
  height: 40px;
}
.header-h.el-header .el-dropdown-link {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header.el-header .el-dropdown-link > .el-avatar {
  display: inline-block;
  margin: 4px;
}
.header-h.el-header .el-dropdown-link > .text-container {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  font-weight: 600;
}
.header-h.el-header .el-dropdown-link > .el-avatar {
  display: inline-block;
  margin: 4px;
}
.header .el-badge__content.is-fixed {
  top: 0;
  right: 4px;
  transform: scale(0.75, 0.75);
}
.menu-container.open,
.menu-container {
  transition: all 0.5s;
}
.menu-container .logo {
  width: 180px;
  background-color: transparent;
}
.menu-container .logo > span {
  opacity: 0.3;
  width: 0;
  transition: all 0.5s;
  display: none;
}
.menu-container.open .logo > span {
  opacity: 1;
  width: auto;
  transition: all 0.5s ease-out;
  display: inline-block;
}
.login-bg {
  position: relative;
  height: 100%;
  background-image: url("~@/assets/img/download.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.login-box .el-form-item__label {
  font-weight: 600;
  color: var(--el-text-color-regular);
}
.login-box {
  width: 320px;
  height: calc(100% - 70px);
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  margin: 160px auto 0;
  z-index: 9;
  background-color: rgba($black, 0.2);
  backdrop-filter: blur(6px);
}
.login-box form { 
  margin: 0 auto;
}
.menu-h.el-menu--horizontal {
  border-bottom: none;
}
.menu-h.el-menu--horizontal > .el-menu-item {
  height: 68px;
  font-weight: 500;
}
.menu-container {
  position: relative;
  height: 100vh;
  box-shadow: 2px 2px 6px 0 rgba($black, 0.05);
  background-color: rgba($black, 0.85);
}
.menu-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("~@/assets/img/r_0001.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-container.close {
  opacity: 1;
}
.menu-container .el-menu.menu {
  margin-top: 20px;
  height: calc(100vh - 90px);
  border-right: none;
  background-color: transparent;
  font-weight: 500;
}
.el-menu-item .fa {
  padding-right: 10px;
}
.menu .el-menu {
  background-color: transparent;
}
.menu .el-menu-item,
.menu .el-sub-menu__title {
  color: $text-gray;
}
.menu .el-menu-item.is-active,
.menu .el-menu-item.is-active:hover {
  position: relative;
  color: $color-primary;
  background-color: rgba($white, 0.06);
}
.menu .el-menu-item.is-active:before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  width: 1px;
  height: 20px;
  background-color: $color-primary;
}
.menu .el-menu-item:hover,
.menu .el-sub-menu__title:hover {
  background-color: transparent;
}

.el-dropdown-menu__item a {
  color: var(--el-text-color-regular);
}
.el-dropdown-menu__item:hover a {
  color: $color-primary;
}

.el-autocomplete .el-input__wrapper {
  padding-right: 1px;
}
.el-pagination {
  margin-top: 20px;
}

#selectpicker .el-input__wrapper {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
}
#selectpicker .el-input__inner {
  color: $white !important;
}
#selectpicker .el-input__inner::placeholder {
  color: #f0f0f0 !important;
}
#selectpicker .selectpicker.btn {
  padding: 5px 0;
  display: inline-block;
}
.page-refresh {
  cursor: pointer;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px !important;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 18px;
  transition: all 0.5s;
}
.page-refresh:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.page-refresh:active {
  transform: rotate(180deg);
  transition: all 0.5s;
}
.card-title small.text-muted{
  font-weight: 300;
  font-size:12px;
  color:#999 !important;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header.el-header,
  .header-h.el-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 48px;
  }
  .el-main{
    padding: 10px;
  }
  .el-button,
  .el-button.is-round {
    padding: 4px 10px !important;
  }
  .row{
    margin-right: -5px;
    margin-left: -5px;
  }
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    margin-bottom:10px
  }
  .nav-pills{
    padding:0;
  }
  .nav-pills .nav-item .nav-link{
    padding: 8px 10px;
    line-height: 15px;
  }
  .nft-nav.nav-pills .nav-item .nav-link{
    padding:0 0 10px;
    min-width: 80px;
  }
  .el-dialog__body{
    max-height: 480px;
    overflow-y: auto;
  }
  .login-box {
    margin-top: 0 !important;
    .title-des {
      margin-bottom: 0;
      margin-top: 0;
    }
    .text-muted {
      margin-bottom: 0;
    }
    .el-form-item__label {
      //padding-bottom:8px;
    }
    .el-form-item {
      margin-bottom: 0.675rem;
    }
  }
  .staking-nav.flex-column {
    flex-direction: row !important;
    padding: 0;
  }
  .stats {
    word-break: break-all;
  }
  .menu-container .el-menu.menu {
    height: auto;
  }
  .el-drawer__body {
    padding: 0;
  }
}
